<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "com.EVG.GW"
        versionCode = "10"
        version     = "1.4.0">

    <name>Gaming Wallpapers 4K</name>

    <description>
        Качественные обои на игровую тематику
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#F30041" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/952828863eeaf127c7f59b200b30f351.png" density="ldpi" />
        <icon src="res/android/icon/8ef6692f606b0555fc532c4601215ed6.png" density="mdpi" />
        <icon src="res/android/icon/1589e75f0cc372a9ae2fa695a1593823.png" density="hdpi" />
        <icon src="res/android/icon/92f3664de0843d988d117594b15ce4e7.png" density="xhdpi" />
        <icon src="res/android/icon/d27635de276f52c655a28dcccee468fa.png" density="xxhdpi" />
        <icon src="res/android/icon/33e58931eade3fd994ce11c241ed680d.png" density="xxxhdpi" />

        <splash src="res/android/screen/b9186d54f6dcab9900a46c0c9ec534d3.png" density="port-hdpi"/>
        <splash src="res/android/screen/a00991bcb12480fde602c42a50e728d9.png" density="port-ldpi"/>
        <splash src="res/android/screen/6f15019a1ff740be6c9baf11a99f9fcb.png" density="port-mdpi"/>
        <splash src="res/android/screen/553e2fc243615dbf7a6b5ae083503198.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/4f0e616fbd623817c5f55195c00b939e.png" width="180" height="180" />
        <icon src="res/ios/icon/4e4eecb7f8f0c3a11869135fbd919421.png" width="60" height="60" />
        <icon src="res/ios/icon/3b136ded1eda333afc1d749f46699eae.png" width="120" height="120" />
        <icon src="res/ios/icon/359c50a83984320caaabde372da7b31b.png" width="76" height="76" />
        <icon src="res/ios/icon/0e32dcac663e5bcd36916c47672c48f3.png" width="152" height="152" />
        <icon src="res/ios/icon/006b5a458e7d1312178f53078f0971d6.png" width="57" height="57" />
        <icon src="res/ios/icon/5bd59fc227d0a4860800e693b5d8c487.png" width="114" height="114" />
        <icon src="res/ios/icon/4004107c2796b6d8061edc36a65e8682.png" width="72" height="72" />
        <icon src="res/ios/icon/ac23fbebfe96783723276ec0c99b6396.png" width="144" height="144" />
        <icon src="res/ios/icon/beacb53aa3c473936b44fa58cf2c8648.png" width="167" height="167" />
        <icon src="res/ios/icon/4f61455eb2cbe027c7d044fd44a462ed.png" width="29" height="29" />
        <icon src="res/ios/icon/149c84d3304ba659755abb18ee912de9.png" width="58" height="58" />
        <icon src="res/ios/icon/d829a5116128ae1a465b3c39deb6e68d.png" width="87" height="87" />
        <icon src="res/ios/icon/a86e8a8d91c6f41d8d10b3947f5fc9bf.png" width="167" height="167" />

        <splash src="res/ios/screen/f4bf37caddd6ec23ce1e00b08cab5001.png" />
        <splash src="res/ios/screen/a466172a38510ab01b3bc099cd26317e.png" />
        <splash src="res/ios/screen/42ee38620bb8ad82e0786a596d83b8f0.png" />
        <splash src="res/ios/screen/571dc819b20db57835dd2b028ac209fa.png" />
        <splash src="res/ios/screen/38ae84c29f6ea28a26ea6b18a49004b0.png" />
        <splash src="res/ios/screen/302958d23d362bb569ea54087010f3e7.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/f6ad7259e2cfb9c330e12cdee6485934.png" target="StoreLogo" />
        <icon src="res/windows/icon/96c7b4a7bfe1ee25bc9775909df8ad42.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/c7b4cb37f69be53467c793ff8c9c410c.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/23f1439581fb6180abd380f1441ceb8b.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/e3b005ce5ecfb86d2cf11ad1f4aeae0b.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/6cbb37a6580362e86822b082f79620c6.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/b02e4d5705db463224b1796ec2af47b8.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/8735a8bd638421cbbe665ee210688ce7.png" target="SplashScreen"/>
        <splash src="res/windows/screen/cebb8402bb6e91465ec010029778dd26.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>